.mktoFormWrap {
  background: #E8EAEA;
  padding: 15px;
  width: 33.33333333%;
}
.mktoFormWrap a {
  color: #02d35f;
}
#form_content .mktoHasWidth {
  width: auto !important;
}
#form_content .mktoForm .mktoFormCol:first-child {
  margin-right: 3%;
}
#form_content .mktoForm .mktoFormCol {
  width: 48.5%;
}
#form_content .mktoForm .mktoFormCol.fullWidth {
  width: 100%;
  margin-right: 0;
}
#form_content label {
  font-weight: 300;
  font-size: 1em;
  line-height: 100%;
  color: #96999C;
  display: block;
  margin-bottom: 0;
}
#form_content .mktoForm .mktoAsterix {
  color: #57595f;
}
#form_content .mktoForm .mktoCheckboxList {
  padding: 0;
}
#form_content .mktoForm .mktoFieldWrap {
    float: none;
    position: relative;
}
#form_content .mktoForm label.mktoLabel, 
#form_content .mktoForm .mktoRequiredField label.mktoLabel, 
.programs-sop.promo-sop-banner .form-container #form_wrap .mktoForm .mktoRequiredField label {
  color: #57595f;
  line-height: 100%;
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}
#form_content .mktoForm input[type="text"], 
#form_content .mktoForm input[type="email"], 
#form_content .mktoForm input[type="tel"], 
#form_content .mktoForm input[type="url"], 
#form_content .mktoForm select.mktoField, 
.programs-sop.promo-sop-banner .form-container #form_wrap #form_content .mktoForm select.mktoField, 
.programs-sop.promo-sop-banner #form_wrap #form_content .mktoForm input[type="text"] {
  width: 100% !important;
  box-shadow: none;
  border: 0;
  height: 40px;
  font-weight: 500;
  color: #333;
  margin-bottom: 13px;
  background-color: white;
  padding: 0.2em 0.3em;
}
#form_content .mktoForm textarea.mktoField {
  width: 100% !important;
  box-shadow: none;
  border: 0;
  height: 80px;
  font-weight: 500;
  color: #333;
  margin-bottom: 13px;
}
#form_content .mktoForm .mktoButtonRow {
  display: block;
  width: 100%;
}
#form_content .mktoForm .mktoButtonRow span {
    margin-left: 0 !important;
}
#form_content .mktoForm .mktoButtonWrap.mktoSimple .mktoButton, 
#form_content .mktoForm .mktoButtonWrap.mktoCupidGreen .mktoButton, 
#form_content .mktoForm .mktoButtonWrap.mktoShadow .mktoButton {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif !important;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  color: white;
  background-color: #FF6A52;
  background-image: none;
  padding: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
}